<p>header works!</p>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button"  class="btn btn-secondary" (click)="navigateToDashBoard()">DashBoard</button>
    <button type="button" class="btn btn-secondary" (click)="navigateToProjets()" >Projects</button>
    <button type="button" class="btn btn-secondary" (click)="navigateToToolShelf()">ToolShelf</button>
    <button type="button" class="btn btn-secondary" (click)="navigateToProjets()">NetWork</button>
  </div>