<header class="header">
  <a class="logo" routerLink="/">
    <img src="./../../assets/images/logo/logo.png" alt="logo">
  </a>
  <nav class="nav">
    <a routerLink="dashboard" routerLinkActive="active" class="button button-nav" type="button">DashBoard</a>
    <a routerLink="projects" routerLinkActive="active" class="button button-nav" [ngClass]="{notification: true}"
      type="button">Projects</a>
    <a routerLink="tool-shelf" routerLinkActive="active" class="button button-nav" [ngClass]="{notification: true}"
      type="button">ToolShelf</a>
    <a routerLink="network" routerLinkActive="active" class="button button-nav" type="button">NetWork</a>
  </nav>
  <div class="section">
    <div class="action">
      <button class="button" [ngClass]="{notification: true}" type="button">
        <mat-icon aria-hidden="false">mail_outline</mat-icon>
        <span *ngIf="true" class="counter">5</span>
      </button>
      <button class="button" type="button">
        <mat-icon aria-hidden="false">chat</mat-icon>
      </button>
      <button class="button" type="button">
        <mat-icon aria-hidden="false">settings_applications</mat-icon>
      </button>
    </div>
    <div class="avatar">
      <img src="./../../assets/images/avatar/avatar.png" alt="avatar">
    </div>
  </div>
</header>