<section class="home-builder">
  <h2 class="title">Homebuilder</h2>
  <div class="board">
    <header class="header">
      <button class="button button-add" type="button">Add Items</button>
      <div class="header-section">
        <label class="search">
          <input class="search-input" type="search" placeholder="Search">
        </label>
        <button class="button" type="button">
          <mat-icon aria-hidden="false">keyboard_arrow_down</mat-icon>
        </button>
      </div>
    </header>
    <ul class="list">
      <li class="item">
        <div class="item-section">
          <button class="button" [ngClass]="{active: false}" type="button">
            <mat-icon aria-hidden="false">check_circle_outline</mat-icon>
          </button>
        </div>
        <div class="item-section section-info">
          <p class="item-title">Buy Windows</p>
          <p class="item-description">#DE 8009 Description lorem ipsum lorem ipsum</p>
        </div>
        <div class="item-section ">
          <p>ABC</p>
          <p class="chips" [ngClass]='{colorRed: true, colorYellow: false, colorGreen: false}'>High Price</p>
        </div>
        <div class="item-section">
          <div class="avatar">
            <img src="../../../assets/images/avatar/avatar.png" alt="avatar">
          </div>
        </div>
        
      </li>
    </ul>
    
  </div>
</section>

