@font-face {
  font-family: 'Actor';
  src: url('src/assets/fonts/Actor-Regular.woff2') format('woff2'),
      url('src/assets/fonts/Actor-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('src/assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('src/assets/fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}